.idea

/mysql
/www/vendor
/www/node_modules
/www/.idea
/www/public/icon
/www/public/js/app.js
/www/public/vendor


/www/public/hot
/www/public/storage
/www/storage/*.key
/www/.env
/www/.env.backup
/www/.phpunit.result.cache
/www/docker-compose.override.yml
/www/Homestead.json
/www/Homestead.yaml
/www/npm-debug.log
/www/yarn-error.log
/www/.vscode

/frontend/node_modules